<div class="card p-4">
  <ngx-tableau
    class="card graph"
    [tableauVizUrl]="LINKS.comparisonOfExpenditureTop10.publicLink"
    [options]="OPTIONS"
  ></ngx-tableau>
  <ngx-tableau
    class="card graph"
    [tableauVizUrl]="LINKS.timelineTop4_1.publicLink"
    [options]="OPTIONS"
  ></ngx-tableau>
  <ngx-tableau
    class="card graph"
    [tableauVizUrl]="LINKS.geoMap_2.publicLink"
    [options]="OPTIONS"
  ></ngx-tableau>
  <ngx-tableau
    class="card graph"
    [tableauVizUrl]="LINKS.comparisonTop10_2.publicLink"
    [options]="OPTIONS"
  ></ngx-tableau>
</div>
