<div class="p-4">
  <iframe
    src="https://ourworldindata.org/grapher/military-expenditure-total"
    loading="lazy"
    style="width: 100%; height: 600px; border: 0px none"
  ></iframe>
  <ngx-tableau
    class="card graph"
    [tableauVizUrl]="LINKS.geoMap_1.publicLink"
    [options]="OPTIONS"
  ></ngx-tableau>
  <ngx-tableau
    class="card graph"
    [tableauVizUrl]="LINKS.worldMilitaryExpenditureTop5.publicLink"
    [options]="OPTIONS"
  ></ngx-tableau>
  <ngx-tableau
    class="card graph"
    [tableauVizUrl]="LINKS.minimumExpense.publicLink"
    [options]="OPTIONS"
  ></ngx-tableau>
</div>
